version: "3.3"
services:
  anivia-web:
    build:
      context: .
      dockerfile: Dockerfile
    extra_hosts:
        - "host.docker.internal:host-gateway"
    ports:
      - "80:80"
    depends_on:
      - "lavalink-server"
  lavalink-server:
    build:
      context: .
      dockerfile: Dockerfile2
    ports:
      - "443:8080"
    environment:
      - PORT=443
      - LAVALINK__SERVER__PASSWORD=youshallnotpass
      - LAVALINK__PASSWORD=youshallnotpass
      - SERVER_PASSWORD=youshallnotpass
      - PASSWORD=youshallnotpass
