services:
  lavalink-server:
    build:
      context: .
      dockerfile: LavalinkServer.Dockerfile
    ports:
      - "2333:2333"
    healthcheck:
      test: [ "CMD", "curl", "-f", "-H", "Authorization: admin", "http://localhost:2333/version" ]
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 30s
  anivia-web:
    build:
      context: .
      dockerfile: Anivia.Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "80:80"
    depends_on:
      lavalink-server:
        condition: service_healthy
    environment:
      - LAVALINK__HOST=http://host.docker.internal:2333
      - LAVALINK__PORT=2333
      - LAVALINK__PASSWORD=admin
      - LAVALINK__ISSL=false